@import "./theme.css";

*,
*::before, 
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  position: relative;
  min-height: 100vh;
  font-size: var(--font-size-body);
}

body::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  inset: 0;
  background: var(--theme-background-image);
  z-index: -100;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}
