.icon {
  border-radius: 10px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accessibility {
  background: var(--color-light-primary);
}

.css {
  background: var(--color-light-green);
}

.js {
  background: var(--color-light-blue);
}

.html {
  background: var(--color-light-orange);
}

.a, .b, .c, .d {
  background-color: var(--color-light-grey);
  color: var(--color-grey-navy);
  text-transform: uppercase;
  font-size: var(--font-size-headingS);
  font-weight: var(--font-weight-medium);
}

@media only screen and (max-width: 768px) {
  .icon {
    width: 40px;
    height: 40px;
  }
  .icon > svg {
    transform: scale(0.75);
  }
}
